
<div class="main-header-left d-none d-lg-block" >
  <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded" src="../assets/images/the-cafe/Logo.png" alt=""></a></div>
</div>
<div class="sidebar custom-scrollbar">
  <div class="sidebar-user text-center">
    <div><img class="img-60 rounded-circle lazyloaded blur-up" src="../assets/images/dashboard/man.jpg" alt="#"></div>
            <h6 class="mt-3 f-14">John Doe</h6>
            <p>Administrateur</p>
  </div>
        <ul class="sidebar-menu">
            <li><a class="sidebar-header" routerLink="/admin-index" routerLinkActive="active"><span>Dashboard</span></a></li>
            <li><a class="sidebar-header" routerLink="/add-product" routerLinkActive="active"><span>Ajouter un produit</span><i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a class="sidebar-header" routerLink="/product-list" routerLinkActive="active"><span>Liste des produits</span><i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a class="sidebar-header" routerLink="/order-list" routerLinkActive="active"><span>Commandes</span><i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a class="sidebar-header" routerLink="/user-list" routerLinkActive="active"><span>Liste des Clients</span><i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a class="sidebar-header" routerLink="/blog" routerLinkActive="active"><span>Blog</span><i class="fa fa-angle-right pull-right"></i></a></li>
        </ul>
</div>
