<app-navbar></app-navbar>

<!--section start-->
<section class="contact-page section-b-space">
  <div class="container">
      <div class="row section-b-space">
          <div class="col-lg-7 map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1444.1687567035844!2d3.9119066!3d43.6203337!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1571133227389!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen= allowfullscreen></iframe>
          </div>
          <div class="col-lg-5">
              <div class="contact-right">
                  <ul>
                      <li>
                              <h6>Contactez nous !</h6>
                          <div class="media-body">
                              <p>01 23 45 67 89</p>
                          </div>
                      </li>
                      <li>
                              <h6>Adresse : </h6>
                          <div class="media-body">
                              <p>Original Thé et Café Demo Website</p>
                          </div>
                      </li>
                      <li>
                              <h6>Adresse Mail : </h6>
                          <div class="media-body">
                              <p>Contact@OriginalThéCafé.com</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Section ends-->


<app-footer></app-footer>

<!-- tap to top start -->
<div class="tap-top">
  <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->


<!-- latest jquery-->
<script src="../assets/js/jquery-3.3.1.min.js"></script>

<!-- menu js-->
<script src="../assets/js/menu.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- popper js-->
<script src="../assets/js/popper.min.js"></script>

<!-- slick js-->
<script src="../assets/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap.js"></script>

<!-- Bootstrap Notification js-->
<script src="../assets/js/bootstrap-notify.min.js"></script>

<!-- Theme js-->
<script src="../assets/js/script.js"></script>

<script>
  function openSearch() {
      document.getElementById("search-overlay").style.display = "block";
  }

  function closeSearch() {
      document.getElementById("search-overlay").style.display = "none";
  }
</script>
