
<app-navbar></app-navbar>


<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="page-title">
                  <h2>404 page</h2>
              </div>
          </div>
          <div class="col-sm-6">
              <nav aria-label="breadcrumb" class="theme-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page">404 page</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section class="p-0">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="error-section">
                  <h1>404</h1>
                  <h2>page non trouvée</h2>
                  <a href="index.html" class="btn btn-solid">Retour à l'accueil</a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Section ends -->

<app-footer></app-footer>


<!-- tap to top -->
<div class="tap-top">
  <div>
      <i class="fa fa-angle-double-up"></i>
  </div>
</div>
<!-- tap to top End -->

<app-theme-setting></app-theme-setting>

<!-- latest jquery-->
<script src="../assets/js/jquery-3.3.1.min.js" ></script>

<!-- menu js-->
<script src="../assets/js/menu.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- popper js-->
<script src="../assets/js/popper.min.js" ></script>

<!-- slick js-->
<script  src="../assets/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap.js" ></script>

<!-- Bootstrap Notification js-->
<script src="../assets/js/bootstrap-notify.min.js"></script>

<!-- Theme js-->
<script src="../assets/js/script.js" ></script>

<script>
  function openSearch() {
      document.getElementById("search-overlay").style.display = "block";
  }

  function closeSearch() {
      document.getElementById("search-overlay").style.display = "none";
  }
</script>
