<!-- page-wrapper Start-->
<div class="page-wrapper">

  <!-- Page Header Start-->
  <app-admin-header></app-admin-header>
  <!-- Page Header Ends -->

  <!-- Page Body Start-->
  <div class="page-body-wrapper">

    <!-- Page Sidebar Start-->
    <div class="page-sidebar">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <!-- Page Sidebar Ends-->

    <div class="page-body">

      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="page-header-left">
                <h3>Ajouter un Produit
                  <small>Thé & Café Dashboard admin</small>
                </h3>
              </div>
            </div>
            <!-- Container-fluid Ends-->

            <!-- Container-fluid starts-->
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Créer un produit</h5>
                    </div>
                    <div class="card-body">
                      <div class="row product-adding">
                        <div class="col-xl-12">
                          <div class="add-product">
                            <div class="row">
                              <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                <img style="margin-left:16%" src="../assets/images/pro3/1.jpg" alt=""
                                  class="img-fluid image_zoom_1 blur-up lazyloaded">

                                <form #addProductform="ngForm" (ngSubmit)="onSubmit()" novalidate>

                                  {{addProductform.value | json}}
                                  <hr />
                                  {{productModel | json}}
                                  <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                    <ul class="file-upload-product">
                                      <li>
                                        <div class="box-input-file">
                                          <input class="upload" type="string" name="url"
                                            [(ngModel)]="productModel.url"><i class="fa fa-plus"></i></div>
                                      </li>
                                    </ul>
                                  </div>

                                  <div class="col-xl-9" style="margin-left:23%">
                                    <div class="form">
                                      <div class="form-group mb-9 row">
                                        <label class="col-xl-8 col-sm-6 mb-0">Nom :</label>
                                        <input class="form-control col-xl-8 col-sm-7" type="text" name="name"
                                          required="" [(ngModel)]="productModel.name">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-group mb-9 row">
                                    <label class="col-xl-8 col-sm-6 mb-0">Prix :</label>
                                    <input class="form-control col-xl-8 col-sm-7" id="validationCustom02" type="text"
                                      name="price" required="" [(ngModel)]="productModel.price">
                                  </div>

                                  <div class="form-group mb-9 row">
                                    <label class="col-xl-8 col-sm-6 mb-0">Remise :</label>
                                    <input class="form-control col-xl-8 col-sm-7" type="number" name="discountRate"
                                      required="" [(ngModel)]="productModel.discountRate">
                                  </div>

                                  <div class="form-group mb-9 row">
                                    <label class="col-xl-8 col-sm-6 mb-0">Référence produit
                                      :</label>
                                    <input class="form-control col-xl-8 col-sm-7" type="text" name="reference"
                                      required="" [(ngModel)]="productModel.reference">
                                  </div>

                                  <div class="form">
                                    <div class="form-group row">
                                      <label class="col-xl-8 col-sm-6 mb-0">Type Produit
                                        :</label>
                                      <select class="form-control digits col-xl-8 col-sm-7" name="type"
                                        [(ngModel)]="productModel.type">
                                        <option value='CAFE_ARABICA'>Cafés Arabica</option>
                                        <option value='CAFE_MOKA'>Cafés Moka</option>
                                        <option value='CAFE_ROBUSTA'>Cafés Robusta</option>
                                        <option value='CAFE_BLEND'>Blend</option>
                                        <option value='THE_BLANC'>Thés Blanc</option>
                                        <option value='THE_NOIR'>Thés Noir</option>
                                        <option value='THE_ROOIBOS'>Thés Rooibos</option>
                                        <option value='THE_VERT'>Thés Vert</option>
                                      </select>
                                    </div>
                                  </div>

                                  <div class="form">
                                    <div class="form-group row">
                                      <label for="exampleFormControlSelect1" class="col-xl-8 col-sm-6 mb-0">Origine
                                        Produit
                                        :</label>
                                      <select class="form-control digits col-xl-8 col-sm-7" name="origine"
                                        [(ngModel)]="productModel.origin">
                                        <option>Argentine</option>
                                        <option>Afrique du Sud</option>
                                        <option>Bresil</option>
                                        <option>China</option>
                                        <option>Colombie</option>
                                        <option>Ethiopie</option>
                                        <option>Inde</option>
                                        <option>Indonesie</option>
                                        <option>Japon</option>
                                        <option>Kenya</option>
                                        <option>Réunion</option>
                                        <option>Vietnam</option>
                                        <option>Yemen</option>
                                      </select>
                                    </div>
                                  </div>

                                  <div class="form">
                                    <div class="form-group row">
                                      <label for="exampleFormControlSelect1" class="col-xl-8 col-sm-6 mb-0"> Conditionnement
                                        :</label>
                                      <select class="form-control digits col-xl-8 col-sm-7" name="packaging"
                                        [(ngModel)]="productModel.packaging">
                                        <option value='HUNDRED_GRAMS'>100 grammes</option>
                                        <option value='TWO_HUNDRED_GRAMS'>200 grammes</option>
                                        <option value='FIVE_HUNDRED_GRAMS'>500 grammes</option>
                                      </select>
                                    </div>
                                  </div>

                                  <div class="form-group row">
                                    <label class="col-xl-8 col-sm-6 mb-0">Stock Produit :</label>
                                    <input class="form-control col-xl-8 col-sm-7" name="stock" type="text" required=""
                                      [(ngModel)]="productModel.stock">
                                  </div>

                                  <div class="form">
                                      <div class="form-group row">
                                        <label for="exampleFormControlSelect1" class="col-xl-8 col-sm-6 mb-0">
                                          Disponibilité
                                        </label>
                                        <select class="form-control digits col-xl-8 col-sm-7" name="status"
                                          [(ngModel)]="productModel.status">
                                          <option value='AVAILABLE'>Disponible</option>
                                          <option value='NOT_AVAILABLE'>Non disponible</option>
                                          <option value='FREEZED'>En cours de réapprovisionnement</option>
                                        </select>
                                      </div>
                                    </div>


                                  <div class="form-group row">
                                    <label class="col-xl-8 col-sm-6 mb-0">Description :</label>
                                    <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                      <textarea id="editor1" name="description" cols="64" rows="4"
                                        [(ngModel)]="productModel.description"></textarea>
                                    </div>
                                  </div>


                                  <div class="offset-xl-3 offset-sm-4">
                                    <button type="submit" class="btn btn-primary">AJOUTER</button>
                                    <button type="button" class="btn btn-light" routerLink='/admin-index'
                                      routerLinkActive="active" style="margin-left: 1%">ANNULER</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Container-fluid Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
