<!-- page-wrapper Start-->
<div class="page-wrapper">
  <!-- Page Header Start-->
  <app-admin-header></app-admin-header>
  <!-- Page Header Ends -->

  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="page-sidebar">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <!-- Page Sidebar Ends-->

    <div class="page-body">
      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-6">
              <div class="page-header-left">
                <h3>
                  Dashboard
                  <small>Panneau d'administrateur Original Thé & Café</small>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container-fluid Ends-->

      <!-- Container-fluid starts-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
              <div class="card-header">
                <h6>Ventes Totales</h6>
                <div class="row">
                  <div class="col-6">
                    <div class="small-chartjs">
                      <div
                        class="flot-chart-placeholder"
                        id="simple-line-chart-sparkline-3"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="value-graph">
                      <h3>
                        42%
                        <span><i class="fa fa-angle-up font-primary"></i></span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="media">
                  <div class="media-body">
                    <h2 class="mb-0">9054</h2>
                    <p>
                      0.25% <span><i class="fa fa-angle-up"></i></span>
                    </p>
                  </div>
                  <div class="bg-primary b-r-8">
                    <div class="small-box">
                      <i data-feather="briefcase"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
              <div class="card-header">
                <h6>Achats totaux</h6>
                <div class="row">
                  <div class="col-6">
                    <div class="small-chartjs">
                      <div
                        class="flot-chart-placeholder"
                        id="simple-line-chart-sparkline"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="value-graph">
                      <h3>
                        20%
                        <span
                          ><i class="fa fa-angle-up font-secondary"></i
                        ></span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="media">
                  <div class="media-body">
                    <h2 class="mb-0">2154</h2>
                    <p>
                      0.13% <span><i class="fa fa-angle-up"></i></span>
                    </p>
                  </div>
                  <div class="bg-secondary b-r-8">
                    <div class="small-box">
                      <i data-feather="credit-card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
              <div class="card-header">
                <h6>Total des transactions</h6>
                <div class="row">
                  <div class="col-6">
                    <div class="small-chartjs">
                      <div
                        class="flot-chart-placeholder"
                        id="simple-line-chart-sparkline-2"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                      <div class="value-graph">
                          <h3>
                            28%
                            <span><i class="fa fa-angle-up font-danger"></i></span>
                          </h3>
                        </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="media">
                  <div class="media-body">

                    <h2 class="mb-0">4672</h2>
                    <p>
                      0.8% <span><i class="fa fa-angle-up"></i></span>
                    </p>
                  </div>
                  <div class="bg-warning b-r-8">
                    <div class="small-box">
                      <i data-feather="shopping-cart"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 xl-50">
            <div class="card order-graph sales-carousel">
              <div class="card-header">
                <h6>Ventes de la journée</h6>
                <div class="row">
                  <div class="col-6">
                    <div class="small-chartjs">
                      <div
                        class="flot-chart-placeholder"
                        id="simple-line-chart-sparkline-1"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="value-graph">
                      <h3>
                        75%
                        <span><i class="fa fa-angle-up font-danger"></i></span>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="media">
                  <div class="media-body">
                    <h2 class="mb-0">0782</h2>
                    <p>
                      0.25% <span><i class="fa fa-angle-up"></i></span>
                    </p>
                  </div>
                  <div class="bg-danger b-r-8">
                    <div class="small-box">
                      <i data-feather="calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 xl-100">
            <div class="card">
              <div class="card-header">
                <h5>Dernieres Commandes</h5>
                <div class="card-header-right">
                  <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left"></i></li>
                    <li><i class="view-html fa fa-code"></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div class="user-status table-responsive latest-order-table">
                  <table class="table table-bordernone">
                    <thead>
                      <tr>
                        <th scope="col">Id de la commande</th>
                        <th scope="col">Total de la commande</th>
                        <th scope="col">Méthode de paiement</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td class="digits">€120.00</td>
                        <td class="font-secondary">Visa</td>
                        <td class="digits">En cours d'acheminement</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td class="digits">€90.00</td>
                        <td class="font-secondary">Master Card</td>
                        <td class="digits">Livré</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td class="digits">€240.00</td>
                        <td class="font-danger">Contre Remboursement</td>
                        <td class="digits">Livré</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td class="digits">€120.00</td>
                        <td class="font-warning">En attente</td>
                        <td class="digits">En préparation</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td class="digits">€50.00</td>
                        <td class="font-primary">Carte de crédit</td>
                        <td class="digits">Livré</td>
                      </tr>
                    </tbody>
                  </table>
                  <a
                    routerLink="/order-list"
                    routerLinkActive="router-link-active"
                    class="btn btn-primary"
                    >Voir toutes les commandes</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 xl-100">
            <div class="card height-equal">
              <div class="card-header">
                <h5>Retour d'envoi</h5>
                <div class="card-header-right">
                  <ul class="list-unstyled card-option">
                    <li><i class="icofont icofont-simple-left"></i></li>
                    <li><i class="view-html fa fa-code"></i></li>
                    <li><i class="icofont icofont-maximize full-card"></i></li>
                    <li><i class="icofont icofont-minus minimize-card"></i></li>
                    <li><i class="icofont icofont-refresh reload-card"></i></li>
                    <li><i class="icofont icofont-error close-card"></i></li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <div class="user-status table-responsive products-table">
                  <table class="table table-bordernone mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Details</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Status</th>
                        <th scope="col">Prix</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Simply dummy text of the printing</td>
                        <td class="digits">1</td>
                        <td class="font-primary">En cours</td>
                        <td class="digits">$6523</td>
                      </tr>
                      <tr>
                        <td>Long established</td>
                        <td class="digits">5</td>
                        <td class="font-secondary">Annulé</td>
                        <td class="digits">$6523</td>
                      </tr>
                      <tr>
                        <td>sometimes by accident</td>
                        <td class="digits">10</td>
                        <td class="font-secondary">Annulé</td>
                        <td class="digits">$6523</td>
                      </tr>
                      <tr>
                        <td>Classical Latin literature</td>
                        <td class="digits">9</td>
                        <td class="font-primary">Renvoyé</td>
                        <td class="digits">$6523</td>
                      </tr>
                      <tr>
                        <td>keep the site on the Internet</td>
                        <td class="digits">8</td>
                        <td class="font-primary">En cours</td>
                        <td class="digits">$6523</td>
                      </tr>
                      <tr>
                        <td>Molestiae consequatur</td>
                        <td class="digits">3</td>
                        <td class="font-secondary">Annulé</td>
                        <td class="digits">$6523</td>
                      </tr>
                      <tr>
                        <td>Pain can procure</td>
                        <td class="digits">8</td>
                        <td class="font-primary">Renvoyé</td>
                        <td class="digits">$6523</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- latest jquery-->
<script src="../assets/js/jquery-3.3.1.min.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.js"></script>

<!-- feather icon js-->
<script src="../assets/js/icons/feather-icon/feather.min.js"></script>
<script src="../assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- Sidebar jquery-->
<script src="../assets/js/sidebar-menu.js"></script>

<!--chartist js-->
<script src="../assets/js/chart/chartist/chartist.js"></script>

<!--chartjs js-->
<script src="../assets/js/chart/chartjs/chart.min.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!--copycode js-->
<script src="../assets/js/prism/prism.min.js"></script>
<script src="../assets/js/clipboard/clipboard.min.js"></script>
<script src="../assets/js/custom-card/custom-card.js"></script>

<!--counter js-->
<script src="../assets/js/counter/jquery.waypoints.min.js"></script>
<script src="../assets/js/counter/jquery.counterup.min.js"></script>
<script src="../assets/js/counter/counter-custom.js"></script>

<!--peity chart js-->
<script src="../assets/js/chart/peity-chart/peity.jquery.js"></script>

<!--sparkline chart js-->
<script src="../assets/js/chart/sparkline/sparkline.js"></script>

<!--Customizer admin-->
<script src="../assets/js/admin-customizer.js"></script>

<!--dashboard custom js-->
<script src="../assets/js/dashboard/default.js"></script>

<!--right sidebar js-->
<script src="../assets/js/chat-menu.js"></script>

<!--height equal js-->
<script src="../assets/js/height-equal.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!--script admin-->
<script src="../assets/js/admin-script.js"></script>
