<!-- page-wrapper Start-->
<div class="page-wrapper">
  <!-- Page Header Start-->
  <app-admin-header></app-admin-header>
  <!-- Page Header Ends -->

  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="page-sidebar">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <!-- Page Sidebar Ends-->

    <!-- Right sidebar Start-->

    <!-- Right sidebar Ends-->

    <div class="page-body">
      <!-- Container-fluid starts-->
      <section>
        <div class="collection-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-lg-2">
                <div class="product-slick">
                  <div><img src="../assets/images/the-cafe/jean-Neymar.jpg" alt=""
                      class="img-fluid lazyload image_zoom_cls-0"></div>
                </div>
              </div>
              <div class="col-lg-10 rtl-text">
                <div class="product-right">
                  <h2>Jean Neymar</h2>
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-5 rtl-text">
                <div class="product-description border-product">
                  <h5>Numero client</h5>
                  <h6 class="num_user">12346</h6>
                  <br>
                  <h5>Points fidélité</h5>
                  <h6 class="num_user">165</h6>
                </div>
              </div>
              <div class="col-lg-5 rtl-text">
                <h5 class="address">Adresse</h5>
                <h6>354 rue diginamic</h6>
                <h6 id="zip">34080 Montpellier</h6>
                <h6 class="email">Jean-Neymar@gmail.com</h6>
                <br>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-10 rtl-text">
                <br>
                <h5 class="user_order">Commandes</h5>
                <h6>Pas de commandes</h6>
                <br>
              </div>
            </div>
            <button class="back-button" routerLink='/user-list' routerLinkActive="active"> Retour liste utilisateurs</button>
          </div>
        </div>
      </section>
      </div>
  </div>
</div>


      <!-- latest jquery-->
      <script src="../assets/js/jquery-3.3.1.min.js"></script>

      <!-- Bootstrap js-->
      <script src="../assets/js/popper.min.js"></script>
      <script src="../assets/js/bootstrap.js"></script>

      <!-- feather icon js-->
      <script src="../assets/js/icons/feather-icon/feather.min.js"></script>
      <script src="../assets/js/icons/feather-icon/feather-icon.js"></script>

      <!-- Sidebar jquery-->
      <script src="../assets/js/sidebar-menu.js"></script>

      <!-- Jsgrid js-->
      <script src="../assets/js/jsgrid/jsgrid.min.js"></script>
      <script src="../assets/js/jsgrid/griddata-productlist-digital.js"></script>
      <script src="../assets/js/jsgrid/jsgrid-list.js"></script>

      <!--Customizer admin-->
      <script src="../assets/js/admin-customizer.js"></script>

      <!-- lazyload js-->
      <script src="../assets/js/lazysizes.min.js"></script>

      <!--right sidebar js-->
      <script src="../assets/js/chat-menu.js"></script>

      <!--script admin-->
      <script src="../assets/js/admin-script.js"></script>
