
<app-navbar></app-navbar>

<!-- section start -->
<section>
  <div class="collection-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="product-slick">
                      <div><img src="{{product.url}}" alt="" class="img-fluid lazyload image_zoom_cls-0"></div>
                  </div>
              </div>
              <div class="col-lg-6 rtl-text">
                  <div class="product-right">
                      <h2>{{product.name}}</h2>

                     <h4 *ngIf="product.discountRate !== 0"><del >€{{product.price}}</del><span>-{{product.discountRate}}%</span></h4>
                      <h3>€{{ product.price * (1 - product.discountRate / 100)}}</h3>
                      <div class="product-description border-product">
                          <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      </div>
                                      <div class="modal-body"><img src="{{product.url}}" alt="" class="img-fluid blur-up lazyload"></div>
                                  </div>
                              </div>
                          </div>
                          <h4>
                            <span *ngIf="product.status =='AVAILABLE'" style="color: green">Disponible</span>
                            <span *ngIf="product.status == 'NOT_AVAILABLE' " style="color:red">En cours de réapprovisionnement</span>
                            <span *ngIf="product.status == 'FREEZED'" style="color:red">En cours de réapprovisionnement</span>
                          </h4>
                          <h4>
                            <span *ngIf="10 > product.stock && product.status == 'AVAILABLE'" style="color:orange">Moins de 10 produits en stock!</span>
                       </h4>
                          <br>
                          <h6 class="product-title">Quantité</h6>
                          <div class="qty-box">
                              <div class="input-group"><span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                  <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span></div>
                          </div>
                      </div>
                      <div class="product-buttons"><a  data-toggle="modal" data-target="#addtocart" class="btn btn-solid">Ajouter au panier</a></div>
                      <div class="border-product">
                          <h6 class="product-title">Détails du produit</h6>
                          <p>{{product.description}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Section ends -->

<app-footer></app-footer>

<app-add-to-cart-modal></app-add-to-cart-modal>

<!-- tap to top start -->
<div class="tap-top">
  <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->


<!-- latest jquery-->
<script src="../assets/js/jquery-3.3.1.min.js"></script>

<!-- menu js-->
<script src="../assets/js/menu.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- popper js-->
<script src="../assets/js/popper.min.js"></script>

<!-- slick js-->
<script src="../assets/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap.js"></script>

<!-- Bootstrap Notification js-->
<script src="../assets/js/bootstrap-notify.min.js"></script>

<!-- Zoom js-->
<script src="../assets/js/jquery.elevatezoom.js"></script>

<!-- Theme js-->
<script src="../assets/js/script.js"></script>

<script>
  function openSearch() {
      document.getElementById("search-overlay").style.display = "block";
  }

  function closeSearch() {
      document.getElementById("search-overlay").style.display = "none";
  }
</script>
