
<app-navbar></app-navbar>

<!-- section start -->
<section>
  <div class="collection-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="product-slick">
                      <div><img src="../assets/images/pro3/The_blanc_fruit_exotic.jpg" alt="" class="img-fluid lazyload image_zoom_cls-0"></div>
                  </div>
              </div>
              <div class="col-lg-6 rtl-text">
                  <div class="product-right">
                      <h2>Thé Blanc Exotique</h2>
                      <h4><del>€39.00</del><span>-10%</span></h4>
                      <h3>€35.10</h3>
                      <div class="product-description border-product">
                          <h6 class="product-title size-text">Choisissez la taille de la pochette.</h6>
                          <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      </div>
                                      <div class="modal-body"><img src="../assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyload"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="size-box">
                              <ul>
                                  <li class="active"><a href="#">100 grs</a></li>
                                  <li><a href="#">200 grs</a></li>
                                  <li><a href="#">500 grs</a></li>
                              </ul>
                          </div>
                          <h6 class="product-title">Quantité</h6>
                          <div class="qty-box">
                              <div class="input-group"><span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                  <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span></div>
                          </div>
                      </div>
                      <div class="product-buttons"><a href="#" data-toggle="modal" data-target="#addtocart" class="btn btn-solid">Ajouter au panier</a></div>
                      <div class="border-product">
                          <h6 class="product-title">Détails du produit</h6>
                          <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem,</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Section ends -->

<app-footer></app-footer>

<app-add-to-cart-modal></app-add-to-cart-modal>

<!-- tap to top start -->
<div class="tap-top">
  <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- tap to top end -->


<!-- latest jquery-->
<script src="../assets/js/jquery-3.3.1.min.js"></script>

<!-- menu js-->
<script src="../assets/js/menu.js"></script>

<!-- lazyload js-->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- popper js-->
<script src="../assets/js/popper.min.js"></script>

<!-- slick js-->
<script src="../assets/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap.js"></script>

<!-- Bootstrap Notification js-->
<script src="../assets/js/bootstrap-notify.min.js"></script>

<!-- Zoom js-->
<script src="../assets/js/jquery.elevatezoom.js"></script>

<!-- Theme js-->
<script src="../assets/js/script.js"></script>

<script>
  function openSearch() {
      document.getElementById("search-overlay").style.display = "block";
  }

  function closeSearch() {
      document.getElementById("search-overlay").style.display = "none";
  }
</script>
