

    <div class="sidebar custom-scrollbar;">
        <div class="sidebar-user text-center">
            <div><img class="img-60 rounded-circle lazyloaded blur-up" src="../assets/images/dashboard/man.jpg" alt="#">
            </div>
            <h6 class="mt-3 f-14">Jean Neymar</h6>
            <p>Numéro client : 5261898</p>
            <p>Point fidelité : 165</p>
        </div>
        <ul class="sidebar-menu">
            <li><a class="sidebar-header" routerLink='/user-dashboard' routerLinkActive="active" ><span>Accueil</span></a></li>
            <li><a class="sidebar-header" routerLink='/user-info' routerLinkActive="active"> <span>Mes informations</span><i class="fa fa-angle-right pull-right"></i></a>
            </li>
            <li><a class="sidebar-header" routerLink='/user-modifier' routerLinkActive="active"> <span>Modifier mon profil</span><i class="fa fa-angle-right pull-right"></i></a>
            </li>
            <li><a class="sidebar-header" routerLink='/user-search' routerLinkActive="active"><span>Rechercher une commande</span><i class="fa fa-angle-right pull-right"></i></a>
            </li>
            <li><a class="sidebar-header" routerLink='/user-historique' routerLinkActive="active"><span>Historique </span><i class="fa fa-angle-right pull-right"></i></a>
            </li>
            <li><a class="sidebar-header" routerLink='/homepage' routerLinkActive="active"><span>Se déconnecter</span></a></li>
        </ul>
    </div>
