 <!-- blog section -->
 <div class="container section-t-space col-lg-12">
    <div class="row">
        <div class="col">
            <div class="title3">
                <h4>Actualités</h4>
                <h2 class="title-inner3">Blog</h2>
                <div class="line"></div>
            </div>
        </div>
    </div>
  </div>
  <section class="blog pt-0 section-b-space ratio3_2 col-12">
    <div class="container">
        <div class="col-12">
                  <div class = "row">
                    <div class="col-lg-4">
                        <a href="#">
                            <div class="basic-effect">
                                <div>
                                    <img src="../assets/images/marijuana/blog/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>10 Octobre 2019</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit, </p>
                            </a>
                            <hr class="style1">
                            <h6>by: John Doe</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 ">
                        <a href="#">
                            <div class="basic-effect">
                                <div>
                                    <img src="../assets/images/marijuana/blog/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>25 Septembre 2019</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit, </p>
                            </a>
                            <hr class="style1">
                            <h6>by: Jane Doe</h6>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <a href="#">
                            <div class="basic-effect">
                                <div>
                                    <img src="../assets/images/marijuana/blog/3.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <span></span>
                            </div>
                        </a>
                        <div class="blog-details">
                            <h4>12 Mai 2019</h4>
                            <a href="#">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit, </p>
                            </a>
                            <hr class="style1">
                            <h6>by: Jean Bonbeure</h6>
                        </div>
                    </div>
                  </div>
        </div>
    </div>
  </section>
